* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root
{
  --bg: #2f323f;
  --fg: #f3f3f3;
  --bgCont: #fff;

  --menuBg: #fff;
  --toggleBg: #333;
}

body
{
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content:flex-start;
}

ion-icon {
  pointer-events: none;
}

.navigation
{
  position: fixed;
  inset: 20px 0 20px 20px;
  background: var(--menuBg);
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px 3px 15px 0px var(--bg); 
  box-shadow: 3px 3px 15px 0px var(--bg);
  transition: 0.5s;
}

.navigation.active
{
  width: 250px;
}

.menuToggle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 23px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.menuToggle::before
{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--toggleBg);
  transform: translateY(-8px);
  transition: 0.5s;
}

.navigation.active .menuToggle::before
{
  transform: translateY(0) rotate(45deg);
}

.menuToggle::after
{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--toggleBg);
  transform: translateY(8px);
  box-shadow: 0 -8px 0 var(--toggleBg);
  transition: 0.5s;
}

.navigation.active .menuToggle::after
{
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0 0 0 var(--toggleBg);
}

.navigation.active .title-nav
{
  position: absolute;
  top: 70px;
  left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: 1s;          
}

.navigation.active .title-nav span
{
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1px;
}
.navigation.active .title-nav span:nth-child(1)
{
  color: #f44336;
}
.navigation.active .title-nav span:nth-child(2)
{
  color: #0fc70f;
}

.navigation .title-nav
{
  display: none;
  transform: scale(0);
  transition: 0.3s;
}

.navigation ul
{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation ul li
{
  list-style: none;
  position: relative;
  width: 100%;
  height: 76px;
  border-radius: 12px;
  border: 8px solid transparent;
  transition: 0.5s;
}

.navigation ul li:nth-child(1)
{
  
  height: 46px;
  width: 46px;
  border: 0;
  margin-bottom: 35px;
}

.navigation ul li:nth-child(1) a .icon ion-icon
{
  margin-left: 7px;
  padding: 10px;
  border-radius: 5px;
  background: var(--bg);
  color: var(--fg);
}

.navigation ul li.active
{
  transform: translateX(30px);
  background: var(--bg);
}

.navigation ul li.active:nth-child(1)
{
  transform: none;
  background: none;
}

.navigation.active ul li.active
{
  
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 3px 15px 0px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 3px 3px 15px 0px rgba(0,0,0,0);
}

.navigation ul li::before
{
  content: '';
  position: absolute;
  top: -28px;
  right: 22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 6px 5px 0 5px var(--bg);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.5s;
}

.navigation ul li.active::before
{
  right: 22px;
  transform: scale(1);
}

.navigation ul li.active:nth-child(1)::before,
.navigation.active ul li.active:nth-child(1)::before
{
  content: none;
  transform: scale(0);
}


.navigation.active ul li.active::before
{
  transform: scale(0);
}

.navigation ul li::after
{
  content: '';
  position: absolute;
  bottom: -28px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 6px -3px 0 3px var(--bg);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.5s;
}

.navigation ul li.active::after
{
  right: 22px;
  transform: scale(1);
}

.navigation ul li.active:nth-child(1)::after,
.navigation.active ul li.active:nth-child(1)::after
{
  content: none;
  transform: scale(0);
}

.navigation.active ul li.active::after
{
  transform: scale(0);
}

.navigation ul li a
{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
}

.navigation ul li a .icon
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  border-radius: 10px;
  color: var(--clr);
  font-size: 1.75em;
  line-height: 60px;
  border: 6px solid transparent;
  transition: 0.5s;
}

.navigation ul li.active a .icon
{
  color:  var(--menuBg);
  background: var(--clr);
}

.navigation ul li a .icon::before
{
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
}

.navigation ul li.active a .icon::before
{
  opacity: 0.5;
}

.navigation ul li a .icon::after
{
  content: '';
  position: absolute;
  top: 10px;
  left: -60px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border: 8px solid var(--bg);
  border-radius: 50%;
}

.navigation ul li a .text
{
  position: relative;
  padding: 0 15px;
  color: var(--toggleBg);
  display: flex;
  align-items: center;
  height: 60px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.active ul li a .text
{
  visibility: visible;
  opacity: 1;
}

.navigation ul li.active a .text
{
  color: var(--menuBg);
}

.container
{
  margin: 20px 15px 20px 120px;
  background: var(--bgCont);
  padding: 15px;
  border-radius: 10px;
}

.container .media
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .media .card
{
  position: relative;

}

.container .media .card .face
{
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .media .card .face.face1
{
  position: relative;
  background: #333;
  transform: translateY(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container .media .card .face.face1 .content
{
  opacity: 0.2;
  transition: 0.5s;
}

.container .media .card:hover .face.face1 .content
{
  opacity: 1;
}

.container .media .card .face.face1 img
{
  max-width: 100px;
}

.container .media .card .face.face1 h3
{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .media .card .face.face2
{
  position: relative;
  background: #fff;
  transform: translateY(-100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}

.container .media .card:hover .face.face2
{
  transform: translateY(0);
}

.container .media .card .face.face2 .content p
{
  margin: 0;
  padding: 0;
}

.container .media .card .face.face2 .content a 
{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .media .card .face.face2 .content a:hover
{
  background: #333;
  color: #fff;
}


.container .op-menu
{
  position: relative;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid var(--toggleBg);
  padding: 10px;
  /* min-height: 80vh; */
}

.cont-form label span
{
  display: inline-block;
  min-width: 140px;

}

.container .op-menu h2
{
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--bg);
}
.row
{
  padding: 5px;
}

.row label
{
  font-size: 1em;
  line-height: 22px;
  font-weight: 500;
  margin-left: 10px;
  
}

.row input[type='text']
{
  width: 60%;
  padding: 3px;
}

.row-tab
{
  padding-left: 25px;
}

.row-bottom
{
  padding-top: 25px;
}

.row-button
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.row-button button
{
  padding: 10px 30px;
  cursor: pointer;
}